:root {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #242020;
  color: #fafafa;
  padding: 0 20px 50px 20px;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}
